*{
    margin :0;
    padding :0;
}
.container{

    width: 40%;
    margin: 2rem auto;
    border: 1px solid black;
    padding: 1rem; 
}
h3{
    text-align: center;
    margin-bottom: 1rem;
}
form{
    width:90%;
    margin: 0 auto;
 }
 #search-input{
    margin: 0.5rem 0;
 }
 .err{
    color:red;
    background-color: rgb(14, 12, 12);
    width:80%;
    margin: 0.5rem 0;
    display: none;
   
 }
 .task-list{
    margin: 1rem 0;
    list-style: none;

 }